<!-- Pokémon Catalogue Page  -->

<app-navbar-logged></app-navbar-logged>
<div class="pokemon-grid">
    <div class="box" *ngFor="let pokemon of pokemons">
        <img [src]="pokemon.sprites.front_default" alt="Pokemon avatar">
        <h3>{{pokemon.name}}</h3>
        <button [disabled]="pokemon.caught" (click)="onCatchClick(pokemon.name)">Add to your colection</button>
    </div>
</div>