<!-- The Landing Page -->

<app-navbar></app-navbar>
<div class="container loginSection mt-5">

    <section class="mt-3">
        <img src="../../assets/pokemon-logo.png" alt="pokemon logo">
    </section>

    <form class="mt-5 loginInput" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <h3>Let's get started!</h3>

        <div class="input-group mt-1">
            <label for="name" class="form-label visually-hidden">Trainer name</label>
            <input type="text" class="form-control" placeholder="What's you name?"
                [ngClass]="{'is-valid': name.valid, 'is-invalid': (name.invalid && (name.dirty || name.touched))}"
                ngModel #name="ngModel" id="name" name="name" required maxlength="30">

            <button class="btn btn-primary btn-lg" [disabled]="loginForm.invalid">Login</button>
        </div>


    </form>

</div>