<!-- Trainer Page -->

<app-navbar-logged></app-navbar-logged>
<div class="container mt-5">
    <h3 class="mb-5 title">
        Pokémon Colection
    </h3>
    <div class="pokemon-grid">
        <div class="box" *ngFor="let pokemon of pokemons">
            <img [src]="pokemon.sprites.front_default" alt="Pokemon avatar">
            <h3>{{pokemon.name}}</h3>
        </div>
    </div>
</div>