.pokemon-grid {
  display: grid;
  grid-gap: 15px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(15%, 15%));
}

.pokemon-grid .box {
  width: 100%;
  height: 200px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  text-align: center;
}

.pokemon-grid .box img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.title {
  color: darkblue;
}
