<nav class="navbar navbar-light bg-warning navLogged">
    <div class="container-fluid logoPoke">
        <a class="navbar-brand" href="/login">
            <img src="../../assets/pokemon-logo.png" alt="pokemon logo" width="120" height="54"
                class="d-inline-block align-text-top">

        </a>
    </div>
    <div class="profileLink">
        <a href="/profile">My profile</a>
        <a href="/catalogue">Pokémon Catalogue</a>
        <a href="/login" (click)="logout()">Logout</a>
    </div>
</nav>